<div class="card-item col">
  {%- if project.redirect -%}
  <a href="{{ project.redirect }}">
  {%- else -%}
  <a href="{{ project.url | relative_url }}">
  {%- endif -%}
    <div class="card hoverable">
      <div class="row g-0">
        {%- if project.img -%}
        <div class="card-img col-md-6">
          {% responsive_image_block %}
            path: {{ project.img }}
            alt: "project thumbnail"
          {% endresponsive_image_block %}
        </div>
        <div class="col-md-6">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
          <div class="card-body">
            <h3 class="card-title">{{ project.title }}</h3>
            <p class="card-text">{{ project.description }}</p>
            {%- if page.email -%}
              <a href="{{ page.contactno | encode_email }}" title="contact no."><i class="fas fa-envelope"></i></a>
            {% endif %}
            {%- if page.email -%}
              <a href="mailto:{{ page.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
            {% endif %}
            {%- if page.orcid_id -%}
              <a href="https://orcid.org/{{ page.orcid_id }}" title="ORCID"><i class="ai ai-orcid"></i></a>
            {% endif %}
            {%- if page.scholar_userid -%}
              <a href="https://scholar.google.com/citations?user={{ page.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
            {% endif %}
            {%- if page.research_gate_profile -%}
              <a href="https://www.researchgate.net/profile/{{page.research_gate_profile}}/" title="ResearchGate"><i class="ai ai-researchgate"></i></a>
            {% endif %}
            <div class="row ml-1 mr-1 p-0">
              {%- if project.github -%}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
                </div>
                {%- if project.github_stars -%}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fas fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
